.cards-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.cards-section h4 {
  margin-bottom: 10px;
}

.cards-section ul {
  list-style-type: none;
  padding: 0;
}

.cards-section ul li {
  margin-bottom: 10px;
}